<aside class="sidebar">
    <ul class="sidebar-list">
      <li class="sidebar-list-brand">
        <a class="list-item-content" href="#">
          <span class="item-content-icon">
            <i class="bi bi-grid"></i>
          </span>
          <span class="item-content-title">Logo</span>
        </a>
      </li>
      
      <li class="sidebar-list-item item-active">
        <span class="outside-top"></span>
        <span class="outside-bottom"></span>
        <a class="list-item-content" href="#">
          <span class="item-content-icon">
            <i class="bi bi-house"></i>
          </span>
          <span class="item-content-title">Home</span>

        </a>
      </li>
      
      <li class="sidebar-list-item">
        <span class="outside-top"></span>
        <span class="outside-bottom"></span>
        <a class="list-item-content" href="#">
          <span class="item-content-icon">
            <i class="bi bi-person"></i>
          </span>
          <span class="item-content-title">Profile</span>
        </a>
      </li>
      
      <li class="sidebar-list-item">
        <span class="outside-top"></span>
        <span class="outside-bottom"></span>
        <a class="list-item-content" href="#">
          <span class="item-content-icon">
            <i class="bi bi-chat"></i>
          </span>
          <span class="item-content-title">Messages</span>
        </a>
      </li>
      
      <li class="sidebar-list-item">
        <span class="outside-top"></span>
        <span class="outside-bottom"></span>
        <a class="list-item-content" href="#">
          <span class="item-content-icon">
            <i class="bi bi-gear"></i>
          </span>
          <span class="item-content-title">Setting</span>
        </a>
      </li>
      
      <li class="sidebar-list-item">
        <span class="outside-top"></span>
        <span class="outside-bottom"></span>
        <a class="list-item-content" href="#">
          <span class="item-content-icon">
            <i class="bi bi-question"></i>
          </span>
          <span class="item-content-title">Help</span>
        </a>
      </li>
      
      <li class="sidebar-list-item">
        <span class="outside-top"></span>
        <span class="outside-bottom"></span>
        <a class="list-item-content" href="#">
          <span class="item-content-icon">
            <i class="bi bi-pin-map"></i>
          </span>
          <span class="item-content-title">Map</span>
        </a>
      </li>
      
      <li class="sidebar-list-item">
        <span class="outside-top"></span>
        <span class="outside-bottom"></span>
        <a class="list-item-content" href="#">
          <span class="item-content-icon">
            <i class="bi bi-box-arrow-left"></i>
          </span>
          <span class="item-content-title">Sign Out</span>
        </a>
      </li>
    </ul>
</aside>
