<section id="login" class="card align-items-center justify-content-center column">
    <div id="card-login" class="card">
        <div class="card-body">
            <div class="card-login-brand mt-1 mb-5 d-flex align-items-center justify-content-center">
                <img src="https://picsum.photos/id/237/200/300" alt="" width="70" height="70">
            </div>
            <form class="row">
                <div class="col-12 mb-3">
                    <label for="" class="visually-hidden">Email</label>
                    <input type="password" class="form-control" id="" placeholder="Email">
                </div>
                <div class="col-12 mb-3">
                    <label for="" class="visually-hidden">Password</label>
                    <input type="password" class="form-control" id="" placeholder="Senha">
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primay-layout mb-3 col-12">Entrar</button>
                    <a href="/recover" class="text-decoration-underline">Recuperar minha senha</a>
                </div>
            </form>
        </div>
    </div>

    <p class="copyright text-center mt-3">Copyright © 2010-2021 Dynne Tecnologia. <br> Todos os direitos reservados.</p>
</section>